{
    "singleQuote": true,
    "trailingComma": "all",
    "semi": true,
    "tabWidth": 2,
    "useTabs": false,
    "printWidth": 100,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "strict",
    "jsxSingleQuote": false,
    "quoteProps": "as-needed",
    "embeddedLanguageFormatting": "auto",
    "proseWrap": "preserve"
}
